<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.keovi.blog.service.consumer.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="cn.keovi.crm.po.Comment">
        <!--@mbg.generated-->
        <!--@Table `comment`-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="topic_id" jdbcType="VARCHAR" property="topicId"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, parent_id, topic_id, content, is_delete, create_time, last_update_time, create_by,
        last_update_by
    </sql>


    <select id="pageList" resultType="cn.keovi.crm.vo.CommentVo">
        select b.id                    as id,
               b.content               as content,
               b.create_time           as createTime,
               ifnull(us.username, '') as userName,
               ifnull(us.avatar, '')   as avatar,
               b.is_delete             as isDelete
        from comment as b
                     left join `user` as us on us.id = b.create_by
        where b.topic_id = #{topicId}
          and b.parent_id = 0
        order by b.create_time desc
                limit #{startIndex}, #{pageSize}
    </select>


    <select id="listByChild" resultType="java.util.Map">
        select b.id                    as id,
               b.content               as content,
               b.create_time           as createTime,
               ifnull(us.username, '') as userName,
               ifnull(us.avatar, '')   as avatar
        from comment as b
                     left join `user` as us on us.id = b.create_by
        where b.topic_id = #{topicId}
          and b.is_delete = 0
          and b.parent_id = #{id}
        order by b.create_time asc
    </select>
    <select id="pageAllList" resultType="cn.keovi.crm.vo.CommentVo">
     select b.id                    as id,
               b.content               as content,
               b.create_time           as createTime,
               ifnull(us.username, '') as userName,
               ifnull(us.avatar, '')   as avatar,
               b.is_delete             as isDelete
        from comment as b
                     left join `user` as us on us.id = b.create_by
        where b.topic_id = #{topicId}
          and b.parent_id = 0
        order by b.create_time desc
    </select>
</mapper>