<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.keovi.blog.service.consumer.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="cn.keovi.crm.po.Menu">
        <!--@mbg.generated-->
        <!--@Table menu-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, `path`, parent_id, create_time, create_by,status,is_delete,last_update_time,last_update_by,description
    </sql>
    <select id="selectMenuByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        where id in (select menu_id from role_menu where role_id = #{roleId})
          and is_delete = 0
    </select>
    <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
                where is_delete = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
    <select id="findListCount" resultType="java.lang.Long">
     select
        count(1)
        from menu
                where is_delete = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
</mapper>