<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.keovi.blog.service.consumer.mapper.TagsMapper">
    <resultMap id="BaseResultMap" type="cn.keovi.crm.po.Tags">
        <!--@mbg.generated-->
        <!--@Table tags-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, tag, is_delete, create_time, last_update_time, create_by, last_update_by,status
    </sql>

    <select id="pageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tags
                where is_delete = 0
        <if test="keyword != null and keyword != ''">
            and tag like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="id != null">
            and create_by = #{id}
        </if>
        order by create_time desc
                limit #{startIndex}, #{pageSize}
    </select>
    <select id="pageListCount" resultType="java.lang.Long">
        select count(1)
        from tags
                where is_delete = 0
        <if test="keyword != null and keyword != ''">
            and tag like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
         <if test="id != null">
            and create_by = #{id}
        </if>
    </select>
</mapper>