<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertMethodEnabled" value="false" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="cn.keovi.blog.service.consumer.mapper" />
        <option name="javaMapperPath" value="D:\javaspace\Blog\blog_spring\blog-service-consumer\src\main\java" />
        <option name="javaModelPackage" value="cn.keovi.crm.po" />
        <option name="javaModelPath" value="D:\javaspace\Blog\blog_spring\blog-bean\src\main\java" />
        <option name="lastDatabaseCrudChooseModuleName" value="blog-service-consumer" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokBuilderAnnotation" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="blog-service-consumer">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="cn.keovi.blog.service.consumer.mapper" />
                  <option name="javaMapperPath" value="D:\javaspace\Blog\blog_spring\blog-service-consumer\src\main\java" />
                  <option name="javaModelPacakge" value="cn.keovi.crm.po" />
                  <option name="javaModelPath" value="D:\javaspace\Blog\blog_spring\blog-bean\src\main\java" />
                  <option name="javaServiceInterfacePackage" value="cn.keovi.blog.service.consumer.service" />
                  <option name="javaServiceInterfacePath" value="D:\javaspace\Blog\blog_spring\blog-service-consumer\src\main\java" />
                  <option name="javaServicePackage" value="cn.keovi.blog.service.consumer.serviceImpl" />
                  <option name="javaServicePath" value="D:\javaspace\Blog\blog_spring\blog-service-consumer\src\main\java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="D:\javaspace\Blog\blog_spring\blog-service-consumer\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusStaticField" value="false" />
        <option name="p3CComment" value="true" />
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="blog_spring:announcement">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Announcement" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:article">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Article" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:article_category">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="ArticleCategory" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:article_tap">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="ArticleTap" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:comment">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Comment" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:files">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Files" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:menu">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Menu" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:message">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Message" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:role_menu">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="RoleMenu" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:site">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Site" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:tap">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Tap" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:user">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:user_donate">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserDonate" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:user_like">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserLike" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog_spring:user_role">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserRole" />
                  <option name="moduleName" value="blog-service-consumer" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="D:\javaspace\Blog\blog_spring\blog-service-consumer\src\main\resources" />
      </ProjectProfile>
    </option>
  </component>
</project>